name: Auto Request Review

on:
  pull_request:
    types: [opened, ready_for_review, reopened]
    branches: [main]

jobs:
  auto-request-review:
    name: Auto Request Review
    runs-on: ubuntu-latest
    steps:
      - name: Request review based on files changes and/or groups the author belongs to
        uses: necojackarc/auto-request-review@v0.10.0
        with:
          token: ${{ secrets.PAT_TOKEN }}
          config: .github/workflows/auto_assign.yml # Config file location override
          # Look for config locally during run instead of in repo.
          # For instance, if you'd like to use a config file stored in external storage,
          # you can fetch it before you run this action, then let this action pick it up with `use_local: true`.
          # This defaults to false if not specified.
          # See https://github.com/necojackarc/auto-request-review/issues/76 for more details.
          # use_local: true
  add-reviews:
    name: Auto Request Assignee
    runs-on: ubuntu-latest
    steps:
      - uses: kentaro-m/auto-assign-action@v1.2.4
        with:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
          configuration-path: '.github/auto_assigns.yml'
